.form_container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--grøn);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}
h1 {
  color: var(--brun);
  font-size: 1.7rem;
  margin-left: 10px;
}
h2 {
  color: var(--beige);
  border: 2px solid;
  padding: 10px;
  font-size: 1.3rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--beige);
  font-family: "Lato", sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--lysegrøn);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--rødbrun);
  color: var(--beige);
}

/* ___________________________ TABLET  ___________________________*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-left: 0px;
  }
  h2 {
    font-size: 1.8rem;
  }
  .form_container {
    max-width: 500px;
    padding: 30px;
  }
}

/* ___________________________ DESKTOP  ___________________________*/
@media screen and (min-width: 1024px) {
  main {
    max-width: 1400px;
  }
  h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  h2 {
    font-size: 2rem;
  }
  #login-form input[type="email"],
  #login-form input[type="password"],
  #login-form button[type="submit"] {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
