/* ________________________________mobil______________________________ */

.forside {
  background-image: url(image/1_background2.svg);
  aspect-ratio: 1600/500;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.overskrift1 {
  position: relative;
  z-index: 99;
  margin: auto;
  width: 55%;
  top: 40%;
  text-align: center;
  color: var(--beige);
  border: solid 4px var(--beige);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.kategorier {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  max-width: 1400px;
  margin: auto;
}

.openland,
.forrest {
  margin-top: 20px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.openland_billede,
.forrest_billede {
  width: 99%;
}
.wrapper1,
.wrapper2 {
  display: grid;
}

.wrapper1 > * {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.wrapper2 > * {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.titel1,
.titel2 {
  margin: auto;
  width: 40%;
  text-align: center;
  color: var(--beige);
  border: solid 4px var(--beige);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.link-button {
  margin-top: 40px;
  display: inline-block;
  padding: 3px 15px;
  color: var(--brun);
  border: 2px solid var(--brun);
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  letter-spacing: 2px;
}

.link-button:hover {
  border: 2px solid var(--grøn);
  color: var(--grøn);
}

/* ___________________________ TABLET  ___________________________*/
@media screen and (min-width: 768px) {
  .overskrift1 {
    font-size: 2.8rem;
  }

  .kategorier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .titel1 {
    font-size: 1.8rem;
  }
  .titel2 {
    font-size: 1.8rem;
  }
}

/* ________________________________desktop______________________________ */

@media screen and (min-width: 1024px) {
  .openland,
  .forrest {
    margin-top: 40px;
  }

  .overskrift1 {
    font-size: 4rem;
  }

  .titel1 {
    font-size: 2rem;
  }

  .titel2 {
    font-size: 2rem;
  }
  .link-button {
    margin-top: 30px;
    padding: 13px 45px;
    font-size: 1.3rem;
  }
}
