html {
  --beige: #fcf2e8;
  --grøn: #00ab41;
  --brun: #302718;
  --rødbrun: #b03711;
  --font_sort: #000000;
  --font_hvid: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--grøn);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  position: relative;
  width: 120px;
  height: auto;
  z-index: 10;
}

._figur {
  background-image: url(/image/SVG/shroomAsset5.svg);
  aspect-ratio: 261.55/267;
  width: 80px;
  height: auto;
  transform: translateX(-180%) translateY(-60%) rotate(25deg);
  display: none;
}

._2figur {
  background-image: url(/image/SVG/bushAsset4.svg);
  aspect-ratio: 314.09/386.63;
  width: 5%;
  height: auto;
  transform: translateX(-630%) translateY(-60%) rotate(-15deg);
  display: none;
}

._3figur {
  background-image: url(/image/SVG/treeAsset3.svg);
  aspect-ratio: 454.8 /537.09;
  width: 5%;
  height: auto;
  transform: translateX(-720%) translateY(40%) rotate(40deg);
  display: none;
}

._4figur {
  background-image: url(/image/SVG/herbsAsset2.svg);
  aspect-ratio: 444.78/490.16;
  width: 5%;
  height: auto;
  transform: translateX(-1140%) translateY(40%) rotate(-40deg);
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--beige);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

.menu a:hover {
  color: var(--rødbrun);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: var(--beige);
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--beige);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
/* burger menu */
.burger {
  display: none;
}
/* bruger icon */
.bruger {
  display: none;
}
.bruger_icon img {
  width: 40px;
}

/* __________________________ Mobil delen __________________________ */
/* maximum 800px */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .bruger_icon {
    display: none;
  }
  .bruger {
    display: block;
    width: 30px;
    margin-right: 20px;
  }

  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--grøn);
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 102;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 1rem;
  }
  .logo img {
    width: 50px;
    height: auto;
  }
}
