h1 {
  color: var(--brun);
  margin: 20px;
}

.jsList {
  display: grid;
}

.link-button {
  color: rgb(0, 171, 65);
  border: 2px solid;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  margin-top: 10px;
  align-items: center;
}

@media (min-width: 800px) {
  .jsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  article {
    display: inline-block;
  }

  .productId {
    display: none;
  }

  .biotypeImg {
    width: 70%;
  }

  .link-button {
    color: rgb(0, 171, 65);
    border: 2px solid;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: transparent;
    /* margin: auto; */
    align-items: center;
  }
}

.types {
  text-align: center;
}

.types h2 {
  color: rgb(158, 38, 38);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.type1 img,
.type2 img,
.type3 img,
.type4 img {
  width: 80px;
  height: 80px;
  border: 5px solid;
  border-radius: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 171, 65);
}

.type1 p,
.type2 p,
.type3 p,
.type4 p {
  position: relative;
  top: -20px;
  left: -1px;
}
