* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

.overskift2 {
  line-height: 2;
}
/* produkt_kasse1  */
.overskift1 {
  color: var(--brun);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.overskift2,
.overskift_produktkasse6 {
  text-transform: uppercase;
}
.knap {
  list-style: none;
  color: var(--brun);
  margin-top: 10px;
}
.tekst1 {
  margin-bottom: 8%;
}
.grid_produkt {
  max-width: 1400px;
}
.produkt_kasse1 {
  margin: 1rem;
}
.produkt_kasse1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produkt_img1 {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

/* *-----------------------------------------* */

/* produkt_kasse2  */

.produkt_kasse2 {
  background-color: var(--brun);
  color: #fcf2e8;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 1rem;
}

.produkt_kasse2 h2,
.produkt_kasse2 p {
  color: var(--beige);
}
.produkt_img2 {
  float: right;
  margin-top: 25%;
  width: 106px;
  margin-right: 12px;
}
/* *-----------------------------------------* */

/* produkt_kasse3  */
.produkt_kasse3 {
  border: 2px solid var(--rødbrun);
  margin: 1rem;
  padding: 1rem;
}

.liste {
  display: grid;
  gap: 10px;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

/* *-----------------------------------------* */

/* produkt_kasse4  */
.produkt_kasse4 {
  margin: 1rem;
}

/* *-----------------------------------------* */

/* produkt_kasse5  */

.produkt_kasse5 {
  display: grid;
  margin: 1rem;
}

.produkt_img3 {
  border-radius: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.level_produkt {
  width: 50%;
  align-self: end;
  justify-self: center;
}

/* *-----------------------------------------* */

/* produkt_kasse6  */
.produkt_kasse6 {
  margin: 1rem;
}
/* *-----------------------------------------* */

/* produkt_kasse7  */
.produkt_kasse7 {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_produktkasse7 {
  display: flex;
}
.img_produktkasse7 img {
  width: 50px;
  height: auto;
}
.produkt_kasse1-7 {
  display: flex;
  align-self: center;
}

.produkt_img6 {
  display: flex;
  gap: 10px;
  width: 50%;
  align-self: center;
}
/* *-----------------------------------------* */

/* ___________________________ TABLET  ___________________________*/
@media screen and (min-width: 768px) {
  .liste {
    font-size: 1.2rem;
  }

  .produkt_kasse1-1 {
    display: grid;
  }
  .overskift1 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .tekst1 {
    grid-column: 1/3;
    margin-bottom: 0%;
    grid-row: 2/3;
  }

  .produkt_img1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .produkt_kasse2 {
    padding: 2rem;
    margin: 1rem;
  }
  .produkt_img2 {
    float: right;
    margin-top: 11px;
    width: 16%;
    margin-right: 12px;
  }
  /* produkt_kasse3  */
  .produkt_kasse3 {
    padding: 2rem;
    margin-inline: 1rem;
    padding-right: 4rem;
  }
  .produkt_kasse4 {
    margin-inline: 3rem;
  }
  /* dish */

  .produkt_kasse5 {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .produkt_img3 {
    width: 40%;
  }
  .cirkel-seson {
    display: none;
  }
  .level_produkt {
    width: 20%;
    align-self: center;
  }
  .produkt_kasse7 {
    display: grid;
  }
  .produkt_img4 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .overskrift_produktkasse {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .img_produktkasse7 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

/* ___________________________ DESKTOP  ___________________________*/
@media screen and (min-width: 1024px) {
  .knap a {
    list-style: none;
    color: var(--brun);
    font-size: 1.2rem;
  }

  .grid_produkt {
    margin: auto;
  }

  .produkt_kasse1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .overskift1 {
    color: var(--brun);
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .produkt_img1 {
    border-radius: 100%;
    width: 70%;
    height: auto;
    justify-self: center;
    grid-column: 5/7;
    grid-row: 1/4;
  }

  .tekst1 {
    grid-column: 1/5;
    grid-row: 1/4;
    margin-bottom: 0%;
    max-width: 65ch;
  }

  /* produkt 2 og 3  */

  .produkt_2_produkt_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    gap: 39px;
  }
  .produkt_kasse2 {
    background-color: var(--brun);
    padding: 2rem;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .produkt_kasse3 {
    border: 2px solid var(--rødbrun);
    margin-bottom: 1rem;
    padding: 2rem;
  }

  /* produkt 4 og 5 */

  .produkt_4_produkt_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
  }

  .cirkel-seson {
    background-color: var(--grøn);
    border-radius: 50%;
    width: 40%;
    height: 40%;
    transform: translate(-20px, -136px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cirkel-seson > h3 {
    color: var(--beige);
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  .produkt_kasse5 {
    display: grid;
  }

  .produkt_kasse5 > * /* jeg tager fat i alle elementerne inde i kassen */ {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
  }

  .level_produkt {
    width: 25%;
    align-self: end;
    justify-self: center;
    transform: translateY(60px);
  }

  /* produkt 6 og 7  */

  .produkt_6_produkt_7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 51px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .overskift_produktkasse6 {
    line-height: 2;
  }

  .produkt_kasse6 {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 56%;
    margin-top: 9%;
    padding: 2%;
  }

  .produkt_kasse7 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
  }

  /* produkt 7 */

  .produkt_img6 {
    display: flex;
    gap: 10px;
    width: 16%;
    align-self: center;
  }

  .overskrift_produktkasse7 {
    display: flex;
    justify-content: center;
    transform: translateY(37px);
  }

  .img_produktkasse7 {
    display: flex;
    gap: 10px;
    width: 36%;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(40px);
  }
}
