h1 {
  color: var(--brun);
  margin: 20px;
}

.jsList {
  display: grid;
}

.link-button {
  color: rgb(0, 171, 65);
  border: 2px solid;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  margin-top: 10px;
  align-items: center;
}

@media (min-width: 800px) {
  .jsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }

  .productId {
    display: none;
  }

  .biotypeImg {
    border-radius: 100%;
    width: 100%;
    padding: 10%;
  }

  .link-button {
    color: rgb(0, 171, 65);
    border: 2px solid;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: transparent;
    align-items: center;
    width: 200px;
    text-decoration: none;
    text-align: center;
  }
}

.types {
  text-align: center;
}

.types h2 {
  color: rgb(158, 38, 38);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.type1 img,
.type2 img,
.type3 img,
.type4 img {
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 171, 65);
  background-color: rgb(0, 171, 65);
}

.type1 p,
.type2 p,
.type3 p,
.type4 p {
  position: relative;
  top: -30px;
  left: -1px;
  color: rgb(0, 171, 65);
  z-index: 101;
  font-size: 2rem;
}
