* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

html {
  --beige: #fcf2e8;
  --grøn: #00ab41;
  --font_sort: #000000;
  --font_hvid: #ffffff;
  --brun: #333333;
}

body {
  background-color: var(--beige);
}

/* ___________________________ font ___________________________ */
h1 {
  font-family: "ital", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

/* Breadcrumb start */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: var(--brun);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--brun);
  text-decoration: none;
  font-size: 0.6rem;
  font-family: "Lato", sans-serif;
}

ul.breadcrumb li a:hover {
  color: red;
  text-decoration: none;
}
/* Breadcrumb slut */

/**-----------------------Rose-----------------------**/

/* tilføj til generel css */
p {
  line-height: 1.5;
}
.overskift2 {
  line-height: 2;
}
/* *---------------------------* */

/* produkt_kasse1  */
.overskift1 {
  color: #302718;
  line-height: 2;
}

.tekst1 {
  margin-bottom: 8%;
}

.produkt_kasse1 {
  margin: 4%;
}
.produkt_kasse1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produkt_img1 {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

/* *-----------------------------------------* */

/* produkt_kasse2  */

.produkt_kasse2 {
  background-color: #302718;
  color: #fcf2e8;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 4%;
}

.produkt_img2 {
  float: right;
  margin-top: 25%;
  width: 106px;
  margin-right: 12px;
}
/* *-----------------------------------------* */

/* produkt_kasse3  */
.produkt_kasse3 {
  border: 2px solid #b03711;
  margin-bottom: 10%;
  margin: 4%;
  padding: 5%;
}

.liste {
  display: grid;
  gap: 10px;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

/* *-----------------------------------------* */

/* produkt_kasse4  */
.produkt_kasse4 {
  margin: 4%;
}

/* *-----------------------------------------* */

/* produkt_kasse5  */

.produkt_kasse5 {
  margin-top: 10%;
  display: grid;
  margin: 4%;
}

.produkt_img3 {
  border-radius: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.level_produkt {
  width: 50%;
  align-self: end;
  justify-self: center;
}

/* *-----------------------------------------* */

/* produkt_kasse6  */
.produkt_kasse6 {
  margin: 4%;
}
/* *-----------------------------------------* */

/* produkt_kasse7  */
.produkt_kasse7 {
  margin-top: 10%;
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.produkt_kasse1-7 {
  display: flex;
  align-self: center;
}

.produkt_img6 {
  display: flex;
  gap: 10px;
  width: 50%;
  align-self: center;
}
/* *-----------------------------------------* */

/**********************************************************---*desktop--------------************************************************/

@media screen and (min-width: 800px) {
  .overskift1 {
    color: #302718;
    font-size: 45px;
  }

  .produkt_kasse1 {
    margin: 4% 8% 4% 8%;
  }

  .produkt_kasse1-1 {
    display: grid;
    grid-template-columns: 483px 1fr;
    grid-template-rows: 1fr;
  }
  .produkt_img1 {
    border-radius: 100%;
    width: 400px;
    height: 400px;
    justify-self: center;
  }

  .tekst1 {
    grid-column: 1;
    margin-bottom: 200px;
  }

  /* produkt 2 og 3  */

  .produkt_2_produkt_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4% 8% 4% 8%;
    gap: 39px;
  }
  .produkt_kasse2 {
    background-color: #302718;
    color: #fcf2e8;
    padding: 4%;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .produkt_kasse3 {
    border: 2px solid #b03711;
    margin-bottom: 5%;
    padding: 5%;
    margin-top: 25%;
  }

  /* produkt 4 og 5 */

  .produkt_4_produkt_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4% 8% 4% 8%;
  }

  .cirkel-seson {
    background-color: #00ab41;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    transform: translate(20px, -156px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cirkel-seson > h3 {
    color: white;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 27px;
  }

  .produkt_kasse5 {
    display: grid;
  }

  .produkt_kasse5 > * /* jeg tager fat i alle elementerne inde i kassen */ {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
  }

  .level_produkt {
    width: 25%;
    align-self: end;
    justify-self: center;
    transform: translateY(60px);
  }

  /* produkt 6 og 7  */

  .produkt_6_produkt_7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 51px;
    margin-left: 8%;
    margin-right: 8%;
  }

  .overskift_produktkasse6 {
    line-height: 2;
  }

  .produkt_kasse6 {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 56%;
    margin-top: 9%;
    padding: 2%;
  }

  .produkt_kasse7 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
  }

  /* produkt 7 */

  .produkt_img6 {
    display: flex;
    gap: 10px;
    width: 16%;
    align-self: center;
  }

  .overskrift_produktkasse7 {
    display: flex;
    justify-content: center;
    transform: translateY(37px);
  }

  .img_produktkasse7 {
    display: flex;
    gap: 10px;
    width: 36%;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(40px);
  }
}
