/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  --beige: #fcf2e8;
  --grøn: #00ab41;
  --brun: #302718;
  --rødbrun: #b03711;
  --font_sort: #000000;
  --font_hvid: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--beige);
  list-style: none;
}

main {
  /* max-width: 1400px; */
  margin: 0 auto;
}

/* ___________________________ fonte ___________________________ */
h1 {
  font-family: "ital", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}
a {
  font-family: "Lato", sans-serif;
}

/* ___________________________ Breadcrumb ___________________________ */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: var(--brun);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--brun);
  text-decoration: none;
  font-size: 0.6rem;
  font-family: "Lato", sans-serif;
}

ul.breadcrumb li a:hover {
  color: red;
  text-decoration: none;
}

/* ___________________________ footer ___________________________ */

/* footer {
  background-image: url(/image/footer3.svg);
  background-repeat: no-repeat;
} */

footer {
  display: grid;
  p {
    color: var(--beige);
  }
}
.grid1 {
  background-color: var(--grøn);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}
.iconer2 {
  display: flex;
  justify-content: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
  margin: auto;
  text-align: right;
}
.iconerne {
  margin: auto;
}

#sociale_medier {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.footer-logo img {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 800px) {
  /* .footer_grid {
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    margin-inline: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  #sociale_medier {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #logo img {
    width: 50%;
  } */
}
